/*MASTER PAGE*/
.p {
    clear: both;
    font-size: 8px;
}
#menuWrapper {
    background-color: darkgray;
}

#SignedInDisplay{
    display: inline-block;
    text-align: center;
    width: 20%;
    float: right;
    margin: 5px;
}
#signedInLbl {
    display: inline-block;
    width: 60%;
}
#signOutBtn{
    display: inline-block;
    width: 60%;
}

#menu {
    vertical-align: top;
    display: inline-block;
    width: 75%;
}
#navbar a {
    float: left;
    display: inline-block;
    color: white;
    text-shadow: 6px 6px 5px white;
    text-align: center;
    padding: 20px 40px;
    text-shadow: 3px 3px 2px black;
    text-decoration: none;
    box-shadow: 5px 5px 3px white;
    border-radius: 5px 15px 0px 0px;
    border: 10px;
}
li {
    float: left; /*align the buttons to the left of the page */
}
li:last-child {
    border-right: none; /*Making sure the last nav button doesnt have a right border */
}
#navbar a:hover {
    background: linear-gradient(to right, white,RGB(230, 0, 88) );
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    color: black;
}
footer {
    background-color: RGB(230, 0, 88);
    text-align: center;
}




/*HOMEPAGE*/
.boxes {
    width: 100%;
    text-align: center; /*need this to center all .box*/
}
.box {
    width: 23%;
    padding: 3px;
    margin: 1px;
    background-color: darkgray;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    border: 1px solid RGB(230, 0, 88);
    overflow: auto;
}
#forumImage {
    width: 1333px;
    height: 800px;
}
@media only screen and (max-width:1366px) {

    #banner {
        width: 100%;
    }
}
@media only screen and (max-width:1457px) {

    #forumImage{
        width: 100%;
    }
}
#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table th) {
    background-color: hotpink;
}
.labels {
font-size:x-large;
}



/*forums page*/
#forumWrapper {
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
.forumPost{
    display:block;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    height: 50px;
}
.forumPost:hover{
    color: gray;
}
.forumPost:hover {
    background-color:lightgray;
}
.forumPostLabel {
    width: 45%;
}
#forumPostRepeater {
    width: inherit;
    height: inherit;
}




/*Post page*/
#postWrapper {
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
.post {
    display: block;
    border-bottom: 1px solid black;
    width: 100%;
}
#postReplyWrapper {
    padding: 20px;
}





/*ADD POST PAGE*/
#addPostWrapper {
    padding: 20px;
}
.txtInput {
    width: 100%;
}




/*links page*/
.links {
    text-align: center;
}
.linksText{
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
}
.content-text{
    text-align:center;
    font-size: 22px;
}


/*register page!*/
#registerContent {
    text-align: center;
}
.register {
    vertical-align: top;
    text-align: left;
    width: 300px;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
}
#registerWrapper {
    display: inline-block;
}
.registerButton{
    float:left;
    margin: 10px;
}
.signIn {
    vertical-align: top;
    margin: 10px;
    text-align: left;
    width: 300px;
    display: inline-block;
}
.infoLbl{
    font-size: 24px;
}